{
  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],

  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },

  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/member-delimiter-style": [ 1, {
      "multiline": {
        "delimiter": "comma",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "comma",
        "requireLast": false
      }
    }],
    "@typescript-eslint/no-unused-vars": [1, { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-explicit-any": 2,
    "no-case-declarations": 2,
    "no-trailing-spaces": [1, { "skipBlankLines": false }],
    "object-curly-spacing": [ 1, "always" ],
    "quotes": [ 1, "single" ],
    "semi": [ 1, "never" ],
    "react/prop-types": 0
  },

  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}