{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],

    "plugins": ["@typescript-eslint", "react"],
    
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },

    "rules": {
      "@typescript-eslint/explicit-function-return-type": 0,
      "@typescript-eslint/member-delimiter-style": [ "error", {
        "multiline": {
          "delimiter": "comma",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }],
      "@typescript-eslint/no-unused-vars": [
          "error", { "argsIgnorePattern": "^_" }
      ],
      "@typescript-eslint/no-explicit-any": 1,
      "no-case-declarations": 0,
      "object-curly-spacing": [ "error", "always" ],
      "quotes": [ "error", "single" ],
      "semi": [ "error", "never" ],
      "react/prop-types": 0
    },

    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    },

    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    }
  }