# Workflow that is run when a pull request is opened to master branch.
# Builds the application and runs all tests.

name: Master branch PR workflow

on:
  pull_request:
    branches:
     - master

jobs:
  build-test:
    name: Builds the application and runs all tests
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout code from repository
      uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run test
      env:
        CI: true
